In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [30]:
from patricia_api_key import weather_api_key

In [35]:
df_mh_subst_use = pd.read_csv("Resources/mental-and-substance-use-as-share-of-disease.csv")

In [36]:
df_mh_subst_use.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.696670
1,Afghanistan,AFG,1991,1.734281
2,Afghanistan,AFG,1992,1.791189
3,Afghanistan,AFG,1993,1.776779
4,Afghanistan,AFG,1994,1.712986

In [37]:
df_mh_subst_use.shape

(6840, 4)

In [38]:
import requests 
def get_lat_lon(country):
    
    url = f"http://api.openweathermap.org/geo/1.0/direct?q={country}&appid={weather_api_key}"
    try:
        data = requests.get(url).json()
        return data[0]["lat"], data[0]["lon"]
    except:
        return None, None

In [39]:
countries = df_mh_subst_use["Entity"].unique()

In [40]:
countries_lat_lon = {}

for c in countries:
    print("county: ", c)
    countries_lat_lon[c] = get_lat_lon(c)

county:  Afghanistan
county:  African Region (WHO)
county:  Albania
county:  Algeria
county:  American Samoa
county:  Andorra
county:  Angola
county:  Antigua and Barbuda
county:  Argentina
county:  Armenia
county:  Australia
county:  Austria
county:  Azerbaijan
county:  Bahamas
county:  Bahrain
county:  Bangladesh
county:  Barbados
county:  Belarus
county:  Belgium
county:  Belize
county:  Benin
county:  Bermuda
county:  Bhutan
county:  Bolivia
county:  Bosnia and Herzegovina
county:  Botswana
county:  Brazil
county:  Brunei
county:  Bulgaria
county:  Burkina Faso
county:  Burundi
county:  Cambodia
county:  Cameroon
county:  Canada
county:  Cape Verde
county:  Central African Republic
county:  Chad
county:  Chile
county:  China
county:  Colombia
county:  Comoros
county:  Congo
county:  Cook Islands
county:  Costa Rica
county:  Cote d'Ivoire
county:  Croatia
county:  Cuba
county:  Cyprus
county:  Czechia
county:  Democratic Republic of Congo
county:  Denmark
county:  Djibouti
county:  Dominica
county:  Dominican Republic
county:  East Asia & Pacific (WB)
county:  Eastern Mediterranean Region (WHO)
county:  Ecuador
county:  Egypt
county:  El Salvador
county:  England
county:  Equatorial Guinea
county:  Eritrea
county:  Estonia
county:  Eswatini
county:  Ethiopia
county:  Europe & Central Asia (WB)
county:  European Region (WHO)
county:  Fiji
county:  Finland
county:  France
county:  G20
county:  Gabon
county:  Gambia
county:  Georgia
county:  Germany
county:  Ghana
county:  Greece
county:  Greenland
county:  Grenada
county:  Guam
county:  Guatemala
county:  Guinea
county:  Guinea-Bissau
county:  Guyana
county:  Haiti
county:  Honduras
county:  Hungary
county:  Iceland
county:  India
county:  Indonesia
county:  Iran
county:  Iraq
county:  Ireland
county:  Israel
county:  Italy
county:  Jamaica
county:  Japan
county:  Jordan
county:  Kazakhstan
county:  Kenya
county:  Kiribati
county:  Kuwait
county:  Kyrgyzstan
county:  Laos
county:  Latin America & Caribbean (WB)
county:  Latvia
county:  Lebanon
county:  Lesotho
county:  Liberia
county:  Libya
county:  Lithuania
county:  Luxembourg
county:  Madagascar
county:  Malawi
county:  Malaysia
county:  Maldives
county:  Mali
county:  Malta
county:  Marshall Islands
county:  Mauritania
county:  Mauritius
county:  Mexico
county:  Micronesia (country)
county:  Middle East & North Africa (WB)
county:  Moldova
county:  Monaco
county:  Mongolia
county:  Montenegro
county:  Morocco
county:  Mozambique
county:  Myanmar
county:  Namibia
county:  Nauru
county:  Nepal
county:  Netherlands
county:  New Zealand
county:  Nicaragua
county:  Niger
county:  Nigeria
county:  Niue
county:  North America (WB)
county:  North Korea
county:  North Macedonia
county:  Northern Ireland
county:  Northern Mariana Islands
county:  Norway
county:  OECD Countries
county:  Oman
county:  Pakistan
county:  Palau
county:  Palestine
county:  Panama
county:  Papua New Guinea
county:  Paraguay
county:  Peru
county:  Philippines
county:  Poland
county:  Portugal
county:  Puerto Rico
county:  Qatar
county:  Region of the Americas (WHO)
county:  Romania
county:  Russia
county:  Rwanda
county:  Saint Kitts and Nevis
county:  Saint Lucia
county:  Saint Vincent and the Grenadines
county:  Samoa
county:  San Marino
county:  Sao Tome and Principe
county:  Saudi Arabia
county:  Scotland
county:  Senegal
county:  Serbia
county:  Seychelles
county:  Sierra Leone
county:  Singapore
county:  Slovakia
county:  Slovenia
county:  Solomon Islands
county:  Somalia
county:  South Africa
county:  South Asia (WB)
county:  South Korea
county:  South Sudan
county:  South-East Asia Region (WHO)
county:  Spain
county:  Sri Lanka
county:  Sub-Saharan Africa (WB)
county:  Sudan
county:  Suriname
county:  Sweden
county:  Switzerland
county:  Syria
county:  Taiwan
county:  Tajikistan
county:  Tanzania
county:  Thailand
county:  Timor
county:  Togo
county:  Tokelau
county:  Tonga
county:  Trinidad and Tobago
county:  Tunisia
county:  Turkey
county:  Turkmenistan
county:  Tuvalu
county:  Uganda
county:  Ukraine
county:  United Arab Emirates
county:  United Kingdom
county:  United States
county:  United States Virgin Islands
county:  Uruguay
county:  Uzbekistan
county:  Vanuatu
county:  Venezuela
county:  Vietnam
county:  Wales
county:  Western Pacific Region (WHO)
county:  World
county:  World Bank High Income
county:  World Bank Low Income
county:  World Bank Lower Middle Income
county:  World Bank Upper Middle Income
county:  Yemen
county:  Zambia
county:  Zimbabwe

In [12]:
countries_lat_lon

{'Afghanistan': (25.2333938, 55.174389025091465),
 'African Region (WHO)': (None, None),
 'Albania': (5.7587654, -73.9151617),
 'Algeria': (36.7753606, 3.0601882),
 'American Samoa': (None, None),
 'Andorra': (42.5069391, 1.5212467),
 'Angola': (41.634874, -84.99928),
 'Antigua and Barbuda': (None, None),
 'Argentina': (27.0854542, -109.1412408),
 'Armenia': (4.536307, -75.6723751),
 'Australia': (-31.95260295, 152.55512735272188),
 'Austria': (25.22539605, 55.16431379427327),
 'Azerbaijan': (25.23108035, 55.17027266614927),
 'Bahamas': (26.661393099999998, -78.26835346979033),
 'Bahrain': (26.0280409, 50.55316820508136),
 'Bangladesh': (-0.2864982, 36.0514231),
 'Barbados': (13.189946299999999, -59.559215109754064),
 'Belarus': (54.3836054, 30.4054004),
 'Belgium': (40.0620915, -87.6392353),
 'Belize': (17.5000543, -88.2003115),
 'Benin': (6.3330586, 5.6221058),
 'Bermuda': (32.3018217, -64.7603583),
 'Bhutan': (33.0204804, 75.6458366),
 'Bolivia': (34.0676715, -78.1483283),
 'Bosnia and Herzegovina': (None, None),
 'Botswana': (25.21468695, 55.18137698902848),
 'Brazil': (39.523652, -87.1250154),
 'Brunei': (4.9450503, 114.92670915502292),
 'Bulgaria': (44.1141209, 12.32615),
 'Burkina Faso': (13.4329296, -1.9956277265699778),
 'Burundi': (None, None),
 'Cambodia': (42.6379684, -71.3213616),
 'Cameroon': (None, None),
 'Canada': (38.6752399, -0.8099623),
 'Cape Verde': (17.05552855, -25.172304911363636),
 'Central African Republic': (25.218395899999997, 55.17523857621538),
 'Chad': (32.7600402, 76.0706663),
 'Chile': (7.308692, -61.8478915),
 'China': (23.1301964, 113.2592945),
 'Colombia': (-20.1774291, -48.6872822),
 'Comoros': (40.1132313, -8.2614827),
 'Congo': (-4.36642155, 15.25859008539669),
 'Cook Islands': (-21.2349911, -159.77872366478397),
 'Costa Rica': (9.9325427, -84.0795782),
 "Cote d'Ivoire": (8.97205, 17.6395833),
 'Croatia': (None, None),
 'Cuba': (4.8459246, 31.5959173),
 'Cyprus': (35.129393050000004, 33.22978295894309),
 'Czechia': (None, None),
 'Democratic Republic of Congo': (None, None),
 'Denmark': (43.899871, -75.582504),
 'Djibouti': (11.5936903, 43.1472724),
 'Dominica': (15.4240429, -61.34185329351388),
 'Dominican Republic': (None, None),
 'East Asia & Pacific (WB)': (21.373205849999998, 39.98454002360009),
 'Eastern Mediterranean Region (WHO)': (None, None),
 'Ecuador': (-3.48444, -80.2257543),
 'Egypt': (-27.676714, 152.0984108763645),
 'El Salvador': (-26.2462114, -69.6259658),
 'England': (52.1911849, -2.2206585),
 'Equatorial Guinea': (None, None),
 'Eritrea': (15.1056714, 37.5888782),
 'Estonia': (56.3984817, 96.4987629),
 'Eswatini': (25.2164748, 55.18185799560048),
 'Ethiopia': (11.591367600000002, 37.39000433472914),
 'Europe & Central Asia (WB)': (48.8791535, 2.3232963),
 'European Region (WHO)': (None, None),
 'Fiji': (44.55220515, -78.16900113841923),
 'Finland': (40.3843304, -75.4203885),
 'France': (46.2337295, 5.3538775),
 'G20': (9.72742, 44.40575),
 'Gabon': (14.1277147, 122.912073),
 'Gambia': (7.5338587, -12.1774353),
 'Georgia': (44.72422295, -73.14704151731551),
 'Germany': (31.4399019, -95.350778),
 'Ghana': (21.571887699999998, 77.48657152558205),
 'Greece': (43.2097838, -77.6930602),
 'Greenland': (71.81717990000001, -40.42628783678519),
 'Grenada': (37.1734995, -3.5995337),
 'Guam': (13.450125700000001, 144.75755102972062),
 'Guatemala': (14.6222328, -90.5185188),
 'Guinea': (5.15, -1.75),
 'Guinea-Bissau': (None, None),
 'Guyana': (6.8137426, -58.1624465),
 'Haiti': (21.7670269, -78.0947805),
 'Honduras': (18.1513986, -66.2080216),
 'Hungary': (41.9767629, -72.7789842),
 'Iceland': (39.3733802, -120.029143),
 'India': (2.183333, 33.683333),
 'Indonesia': (-8.456018100000001, 115.27038551191185),
 'Iran': (27.3396747, 56.9567463),
 'Iraq': (36.686291, 41.994791),
 'Ireland': (53.4152268, -7.96655398901418),
 'Israel': (32.6307267, 35.3488686),
 'Italy': (32.1840381, -96.8847194),
 'Jamaica': (40.7029134, -73.8006429),
 'Japan': (40.9921996, -75.9078749),
 'Jordan': (44.6663146, -93.6261918),
 'Kazakhstan': (46.797985, 61.661221),
 'Kenya': (-2.5461733, 36.7915635),
 'Kiribati': (None, None),
 'Kuwait': (29.3796532, 47.9734174),
 'Kyrgyzstan': (40.9098154, 73.3543356),
 'Laos': (10.244733, 123.2310396),
 'Latin America & Caribbean (WB)': (None, None),
 'Latvia': (None, None),
 'Lebanon': (40.3429683, -76.4233816),
 'Lesotho': (25.21481175, 55.183041764491264),
 'Liberia': (10.6333401, -85.4362722),
 'Libya': (25.22041215, 55.17041701462804),
 'Lithuania': (None, None),
 'Luxembourg': (49.6112768, 6.129799),
 'Madagascar': (-18.779148749999997, 46.71217161656727),
 'Malawi': (-15.300392, 34.701808),
 'Malaysia': (25.23310645, 55.1833741910576),
 'Maldives': (4.5145134, 73.37029931463772),
 'Mali': (4.1779879, 73.5107387),
 'Malta': (35.90221125, 14.413771221238456),
 'Marshall Islands': (8.9995549, 168.0002575),
 'Mauritania': (25.21534785, 55.16782550577598),
 'Mauritius': (-20.0958533, 57.6349749),
 'Mexico': (19.4326296, -99.1331785),
 'Micronesia (country)': (None, None),
 'Middle East & North Africa (WB)': (39.3014159, -76.5888477),
 'Moldova': (46.9110939, 27.2407723),
 'Monaco': (43.7311424, 7.4197576),
 'Mongolia': (43.9382593, -79.2235563),
 'Montenegro': (-29.6826112, -51.4687455),
 'Morocco': (25.21643135, 55.16539122632322),
 'Mozambique': (19.058889, -96.254167),
 'Myanmar': (25.2335648, 55.17769106950793),
 'Namibia': (25.21294965, 55.179690756441246),
 'Nauru': (-0.52832605, 166.93091238321813),
 'Nepal': (31.2496266, 73.6632218),
 'Netherlands': (36.2993736, -89.7510062),
 'New Zealand': (46.4099904, -62.313043),
 'Nicaragua': (28.3929796, -109.9816718),
 'Niger': (25.21715185, 55.170653742954116),
 'Nigeria': (25.21490645, 55.174787069501136),
 'Niue': (-19.05397155, -169.84923344074008),
 'North America (WB)': (None, None),
 'North Korea': (None, None),
 'North Macedonia': (None, None),
 'Northern Ireland': (None, None),
 'Northern Mariana Islands': (None, None),
 'Norway': (41.9027805, -91.9215691),
 'OECD Countries': (None, None),
 'Oman': (22.17, 58),
 'Pakistan': (33.0281858, 72.0575345),
 'Palau': (42.5717989, 2.9600905),
 'Palestine': (31.7621153, -95.6307891),
 'Panama': (8.9714493, -79.5341802),
 'Papua New Guinea': (-5.522593049999999, 142.08709052245882),
 'Paraguay': (-25.2800459, -57.6343814),
 'Peru': (41.3272919, -89.1287636),
 'Philippines': (8.6549449, 123.4243754),
 'Poland': (41.024226, -80.614795),
 'Portugal': (-1.6292632, -45.2368151),
 'Puerto Rico': (27.7865973, -15.7117774),
 'Qatar': (39.1074426, 47.5061085),
 'Region of the Americas (WHO)': (None, None),
 'Romania': (45.49288425, 21.71999265492126),
 'Russia': (40.2338211, -84.4096729),
 'Rwanda': (8.9917947, 38.7793214),
 'Saint Kitts and Nevis': (None, None),
 'Saint Lucia': (13.90904385, -60.97792414113452),
 'Saint Vincent and the Grenadines': (None, None),
 'Samoa': (40.8187372, -124.1864518),
 'San Marino': (43.9363996, 12.4466991),
 'Sao Tome and Principe': (None, None),
 'Saudi Arabia': (27.1860382, 31.19298082388167),
 'Scotland': (55.97067925, -5.945163898496433),
 'Senegal': (5.8304643, 36.6642147),
 'Serbia': (40.1846282, 21.9990312),
 'Seychelles': (25.22444045, 55.18297256651013),
 'Sierra Leone': (8.479004, -13.26795),
 'Singapore': (1.2899175, 103.8519072),
 'Slovakia': (None, None),
 'Slovenia': (None, None),
 'Solomon Islands': (-7.9999999, 158.9999999),
 'Somalia': (-13.180556, 15.266667),
 'South Africa': (-23.0379481, 30.6493787),
 'South Asia (WB)': (None, None),
 'South Korea': (None, None),
 'South Sudan': (None, None),
 'South-East Asia Region (WHO)': (None, None),
 'Spain': (9.4170689, 123.3351935),
 'Sri Lanka': (7.877395849999999, 80.66247852355892),
 'Sub-Saharan Africa (WB)': (None, None),
 'Sudan': (10.9, 6.5),
 'Suriname': (3.91840165, -55.683556092575174),
 'Sweden': (44.133435, -70.822678),
 'Switzerland': (55.0473993, 24.2586917),
 'Syria': (35.8323648, 38.5414697),
 'Taiwan': (23.5983227, 120.83537694479215),
 'Tajikistan': (37.3878883, 68.6641057),
 'Tanzania': (-2.5502402, 36.7857028),
 'Thailand': (7.4931858, 124.724704),
 'Timor': (-9.346017100000001, 124.63707741045215),
 'Togo': (35.095364, 137.042787),
 'Tokelau': (-9.10689725, -171.78645539086966),
 'Tonga': (4.969409, 10.699308),
 'Trinidad and Tobago': (None, None),
 'Tunisia': (36.8002068, 10.1857757),
 'Turkey': (34.3925639, -100.8976408),
 'Turkmenistan': (40.4690217, 62.2125775),
 'Tuvalu': (None, None),
 'Uganda': (11.3163165, 4.948482),
 'Ukraine': (48.852417, 28.722033),
 'United Arab Emirates': (25.22773555, 55.174999621360726),
 'United Kingdom': (25.22331675, 55.15941464826079),
 'United States': (16.7325005, -169.5282535),
 'United States Virgin Islands': (None, None),
 'Uruguay': (-32.5049394, -53.5041115),
 'Uzbekistan': (41.3123363, 69.2787079),
 'Vanuatu': (-17.6873309, 168.3049371),
 'Venezuela': (21.7394241, -78.7955599),
 'Vietnam': (9.6970387, -75.61609832592933),
 'Wales': (51.5882332, -2.9974967),
 'Western Pacific Region (WHO)': (None, None),
 'World': (51.4860978, -1.2995085),
 'World Bank High Income': (None, None),
 'World Bank Low Income': (None, None),
 'World Bank Lower Middle Income': (None, None),
 'World Bank Upper Middle Income': (None, None),
 'Yemen': (15.268007, 42.583216),
 'Zambia': (-10.9432722, 14.1443449),
 'Zimbabwe': (4.7609886, -6.66608)}

In [28]:
df_mh_subst_use.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),lat_lon,latitude,longitude
0,Afghanistan,AFG,1990,1.696670,"(25.2333938, 55.174389025091465)",25.233394,55.174389
1,Afghanistan,AFG,1991,1.734281,"(25.2333938, 55.174389025091465)",25.233394,55.174389
2,Afghanistan,AFG,1992,1.791189,"(25.2333938, 55.174389025091465)",25.233394,55.174389
3,Afghanistan,AFG,1993,1.776779,"(25.2333938, 55.174389025091465)",25.233394,55.174389
4,Afghanistan,AFG,1994,1.712986,"(25.2333938, 55.174389025091465)",25.233394,55.174389

In [14]:
df_mh_subst_use["lat_lon"] = df_mh_subst_use["Entity"].map(countries_lat_lon)

In [15]:
df_mh_subst_use

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),lat_lon
0,Afghanistan,AFG,1990,1.696670,"(25.2333938, 55.174389025091465)"
1,Afghanistan,AFG,1991,1.734281,"(25.2333938, 55.174389025091465)"
2,Afghanistan,AFG,1992,1.791189,"(25.2333938, 55.174389025091465)"
3,Afghanistan,AFG,1993,1.776779,"(25.2333938, 55.174389025091465)"
4,Afghanistan,AFG,1994,1.712986,"(25.2333938, 55.174389025091465)"
...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2.193166,"(4.7609886, -6.66608)"
6836,Zimbabwe,ZWE,2016,2.279813,"(4.7609886, -6.66608)"
6837,Zimbabwe,ZWE,2017,2.364265,"(4.7609886, -6.66608)"
6838,Zimbabwe,ZWE,2018,2.472949,"(4.7609886, -6.66608)"
6839,Zimbabwe,ZWE,2019,2.525892,"(4.7609886, -6.66608)"

In [20]:
df_mh_subst_use["latitude"] = df_mh_subst_use["lat_lon"].map(lambda x: x[0])
df_mh_subst_use["longitude"] = df_mh_subst_use["lat_lon"].map(lambda x: x[1])

In [29]:
df_mh_subst_use = df_mh_subst_use.drop('lat_lon', axis=1)
df_mh_subst_use

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),latitude,longitude
0,Afghanistan,AFG,1990,1.696670,25.233394,55.174389
1,Afghanistan,AFG,1991,1.734281,25.233394,55.174389
2,Afghanistan,AFG,1992,1.791189,25.233394,55.174389
3,Afghanistan,AFG,1993,1.776779,25.233394,55.174389
4,Afghanistan,AFG,1994,1.712986,25.233394,55.174389
...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2.193166,4.760989,-6.666080
6836,Zimbabwe,ZWE,2016,2.279813,4.760989,-6.666080
6837,Zimbabwe,ZWE,2017,2.364265,4.760989,-6.666080
6838,Zimbabwe,ZWE,2018,2.472949,4.760989,-6.666080
6839,Zimbabwe,ZWE,2019,2.525892,4.760989,-6.666080

In [41]:
df_mh_subst_use.to_csv('Clean_data/cleaned-mental-and-substance-use-as-share-of-disease.csv.csv', index=False)