In [3]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [4]:
df_mh_subst_d = pd.read_csv("Resources/share-with-mental-and-substance-disorders.csv")

In [5]:
df_mh_subst_d.head()

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,16.659229
1,Afghanistan,AFG,1991,16.765052
2,Afghanistan,AFG,1992,16.874469
3,Afghanistan,AFG,1993,16.990720
4,Afghanistan,AFG,1994,17.112730

In [6]:
df_mh_subst_d.shape

(6780, 4)

In [7]:
df_mh_subst_b = pd.read_csv("Resources/prevalence-by-mental-and-substance-use-disorder.csv")

In [8]:
df_mh_subst_b.head()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779

In [9]:
df_mh_subst_b.shape

(6840, 10)

In [10]:
df_mh_subst_c = pd.read_csv("Resources/prevalence-of-depression-males-vs-females.csv")

In [11]:
df_mh_subst_c.head()

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN
2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN
3,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN
4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN

In [12]:
df_mh_subst_c.shape

(56395, 7)

In [13]:
df_mh_subst_e = pd.read_csv("Resources/share-with-mental-or-substance-disorders-by-sex.csv")

In [14]:
df_mh_subst_e.head()

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,17.448695,17.634233,12412311.0,NaN
2,Afghanistan,AFG,1991,17.771263,17.873184,13299016.0,NaN
3,Afghanistan,AFG,1992,18.051575,18.092318,14485543.0,NaN
4,Afghanistan,AFG,1993,18.275848,18.265196,15816601.0,NaN

In [15]:
df_mh_subst_e.shape

(56629, 7)

In [16]:
df_mh_subst_e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56629 entries, 0 to 56628
Data columns (total 7 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Entity                                                                                           56629 non-null  object
 1   Code                                                                                             54079 non-null  object
 2   Year                                                                                             56629 non-null  int64
 3   Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)    6468 non-null   float64
 4   Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)  6468 non-null   float64
 5   Population (historical estimates)                                                                55656 non-null  float64
 6   Continent                                                                                        285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ MB